
TP1/.ipynb_checkpoints/

TP2/TP2_INF8215/.idea

TP2/TP2_INF8215/__pycache__/

TP2/.ipynb_checkpoints/

TP2/TP2_INF8215-4_pirates.ipynb

TP2/TP2_INF8215-po-sur.ipynb

TP3/.ipynb_checkpoints/
